{% extends 'base.html' %}
{% load static  %}
{% block metadiscription %}
  We have different variety of fruits and vegitables.
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have search for : <b>"{{query}}"</b></p>
</div>
<div class="container">
      <div class="row mx_auto">
          {% for product in products %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-6 col-md-12 col-lg-6">
                    <div class="card text-center" style="min-width:30rem;">
                        <a href="{{product.get_url}}"><br><br>
                        <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}" width="1500px;" height="500px;"> </a><br><br>
                        <div class="card-body">
                            <b><h1 class="text-center my_title">{{product.name}}</h1></b>
                            <b><h2 class="text-center my_title">${{product.price}}</h2></b><br>
                        </div><br>
                    </div>
                </div>
                {% empty %}
                <div class="row mx_auto">
                <p class="text-center my_search_text">0 result found</p>
                </div>
          {% endfor %}
      </div>
</div>

{% endblock %}